<footer id="footer">
  <section class="section-footer">
    <div class="container-xxl">
      <div class="row">
        <div class="bg-footer col-sm-12 text-md-center mt-md-5 col-lg-4 text-lg-center pt-lg-5">
          <p>Esta web tiene todos los derechos reservados. Diseñada con
            esfuerzo, cuidado y compromiso para que como comunidad podamos
            disfrutarla.</p>
        </div>
        <div class="col-sm-6 col-lg-4 text-lg-center"> <img
            src="/images/generales/logo.png"
            alt=""
          >
        </div>
        <div class="col-sm-6 col-md-12  col-lg-4 text-md-center  text-lg-center  pb-md-5 pt-lg-5">
          <h4>¿Necesitas ayuda?</h4>
          <h5>Contacta con el equipo técnico</h5>
          <i class="bi bi-facebook px-2"></i>
          <i class="bi bi-instagram  px-2"></i>
          <i class="bi bi-twitter-x  px-2"></i>
          <i class="bi bi-telephone-fill"> +3464212345</i>
        </div>
      </div>
    </div>
      </section>
       <div class="copy col-sm-12 m-sm-2 text-lg-center p-lg-3 bg-light-subtle text-center ">
        <p>&copy;2025 | Estudiante de Socratech</p>
      </div>
</footer>