.section-dishOrderScoreDesc {
      padding-block: 7rem;
  .button-volver {
    border: solid transparent;
    border-radius: 10px;
    padding: 10px 20px;
    color: rgb(255, 250, 250);
    background-color: #5f7858ac;
  }
}

@media (width <= 600px) {
  .section-dishOrderScoreDesc {
    text-align: center;
    padding-inline: 1rem;
    margin-top: 1rem;

    .card {
      border: 1px solid var(--color-button-registro);
      margin-top: 1rem;
    }

  }
}

@media (width <= 1000px) {
  .section-dishOrderScoreDesc {
    font-size: 20px;
  }
}


.card:hover{
  transform: scale(0.9);
}