.section-formRegister {
  background-image: url('/images/generales/fondo-comida.png');
  background-position: left;
  background-size: auto;
  background-repeat: repeat-y;
  padding-block: 7rem;

  form {
    background-color: var(--color-fondo-claro);
    border: 2px solid var(--color-sombra-naranja);
    border-radius: 2rem;
    padding: 1.5rem;
    box-shadow: 0 0 5px var(--color-sombra-naranja);
    font-size: 18px;

    textarea {
      background-color: var(--color-fondo-claro);
    }

    input[type='text'],
    input[type='email'] {
      border-top: 0;
      border-left: 0;
      border-right: 0;
      background-color: transparent;
    }
    .message-err {
      color: var(--menssage-err);
    }

    .icono-img {
      height: 50px;
      margin-left: 0.5rem;
    }
    .button-registro,
    .button-borrar,
    .button-cancelar {
      border: var(--border-button);
      border-radius: var(--border-radius-button);
      padding: var(--padding-button);
      color: var(--color-letra-button);

       @media (width <= 600px) {
        transform: translateX(-26px);
      }

      @media (width <= 1000px) {
        margin: 0.5rem;
      }
    }
    .button-registro {
      background-color: var(--color-button-registro);
      padding: 0;
    }
    .button-borrar {
      background-color: var(--color-button-borrar);
    }
    .button-cancelar {
      background-color: var(--color-button-cancelar);
    }
  }
}

@media (width <= 600px) {
  .section-formRegister {
    background-image: none;
    padding-block: 7rem;

    form {
      width: 93%;
    }
  }
}
