.section-bienvenida {
  background-image: url('/images/generales/portada.jpg');
  background-position: top;
  background-size: cover;
  padding-block: 13rem;

  @media (width <= 600px) {
    text-align: center;
    padding-block: 7rem;

    h1 {
      background-color: rgba(245, 245, 220, 0.479);
    }
  }

  @media (width <= 1000px) {
    h1 {
      background-color: rgba(245, 245, 220, 0.575);
      font-size: 50px;
    }
    .logan {
      font-size: 50px;
    }
    button {
      font-size: 20px;
    }
  }

  button {
    border: 1px solid #6d63377c;
    box-shadow: 0 0 2px 3px #6d63376c;
  }
}

.section-about {
  @media (width <= 1000px) {
    padding: 4rem;
    font-size: 20px;
  }

  img {
    height: 500px;
  }
  .carousel img {
    height: 80%;
    width: 80%;

    @media (width <= 600px) {
      height: 100%;
      width: 100%;
    }
  }

  @media (width <= 1000px) {
    text-align: center;
    margin-top: 1rem;
  }
}

.section-objetivos {
  background-color: var(--color-fondo-claro);
  @media (width <= 1000px) {
    font-size: 20px;
  }
  span {
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(96, 133, 67, 0.924);
  }
}

.section-listfoodies {
  .button-verMas {
    border: solid transparent;
    border-radius: 10px;
    padding: 10px 20px;
    color: rgb(255, 250, 250);
    background-color: #5f7858ac;
    margin-top: 1rem;
  }
}

@media (width <= 600px) {
  .section-objetivos {
    text-align: center;
    padding-inline: 1rem;
  }
  .section-listfoodies {
    text-align: center;
    padding-inline: 1rem;
    margin-top: 1rem;

    .card {
      border: 1px solid var(--color-button-registro);
      margin-top: 1rem;
    }

  }
}

@media (width <= 1000px) {
  .section-listfoodies {
    font-size: 20px;
  }
}


button:hover{
  transform: scale(0.9);
}